@import '../base/_variaveis';

.mensagem {
    font-size: $size;
    margin-top: 30px;
    .box {
        border: 2px solid $primary-color;
        display: inline-block;
        font-size: $size * 2;
        margin: 20px 0;
        padding: 5px;
    }
}