@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

// Font
$font-family: 'Silkscreen', cursive;

// Font-size
$size: 1.5rem; 

// Color
$bg-color: #222831;
$primary-color: #FCE38A;
$secundary-color: #EEEEEE;